.roster-gridfield {
    margin-top: 24px;
}

#StartDate.field {
    border-bottom: none;
}

.roster-gridfield .chzn-container {
    width: 90px !important;
}

.roster-gridfield .chzn-container-multi .chzn-choices .search-choice {
    background: #e6e6e6 none;
    border:     1px solid #b0b0b0;
    color:      #808080;
    box-shadow: none;
}

.roster-gridfield .ss-gridfield-title-header.weekdays th.main {
    border-bottom-width: 0;
}

.roster-gridfield .ss-gridfield-table .ss-gridfield-item.last td {
     border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.roster-gridfield .chzn-container-multi .chzn-choices .search-field input {
    position: absolute;
}
.roster-gridfield .chzn-container-multi .chzn-choices .search-field {
    height: 27px;
    position: relative;
}

.roster-gridfield .chzn-container-multi .chzn-choices {
    position: relative;
}